/*** Default CSS ***/

body {
	font-family: Poppins;
	background-color: #ffffff;
}

input:focus,
textarea:focus{
	box-shadow: 0 0 0 3px rgba(187, 28, 46, 0.3) !important;
	border: 0.1px solid rgba(187, 28, 46, 0.5) !important;
}

header input:focus{
	box-shadow: none !important;
	outline: none !important;
	border: transparent !important;
}

::selection{
	background-color: #bb1c2e;
	color: white;
}

.yellow-border-heading{
	border-bottom: 3px solid #ffde59; 
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}

/*** Header ***/

	/*** Topbar ***/

	header .topbar-navbar {
		background-image: url('../images/header/background.svg');
		background-size: contain;
		background-color: #414141;
	}

	.topbar-icons{
		height: 20px;
		width: auto;
	}

	.topbar-navbar form input::placeholder {
		font-size: 14px;
		color: #1C1B19;
	}

	.topbar-navbar form img,
	.navbar form img{
		height: 14px;
	}

	nav{
		box-shadow: 0px 1px 7px 0px rgba(112, 112, 112, 0.5);
		position: relative; 
		z-index: 2;
	}

	nav .nav-link{
		font-weight: bold;
		text-transform: uppercase;
		color: #1C1B19 !important;
		font-size: 16px;
	}

	nav .nav-link span{
		border: 2px solid transparent;
	}

	nav .nav-link span:hover{
		border-bottom: 2px solid rgba(187, 28, 46, 0.4);
		transition: 0.3s;
	}

	nav .dropdown-item:focus{
		background-color: rgba(187, 28, 46, 1);
	}

	nav .active span{
		border-bottom: 2px solid #BB1C2E;
	}

	nav .navbar-brand{
		background-image: url('../images/logo/header-logo.svg'); 
		background-size: cover; 
		height: 200px;
		width: 200px; 
		border-radius: 50%;  
		border: 6px solid white; 
		margin-bottom: -120px
	}


	/* Medium devices (tablets, less than 992px) */
	@media (max-width: 991.98px) {
		nav .navbar-brand {
			height: 120px;
			width: 120px;
			border: 4px solid white;
			margin-bottom: -40px;
		}
		.mobile-margin {
		margin-top: 96px;
	}
	}

/* Footer */

footer {
	background-color: #3C3C3C;
}

footer .footer-top{
	padding-top: 100px !important;
	padding-bottom: 130px;
}

footer .footer-logo{
	height: 180px;
}

footer .footer-icon{
	width: 30px;
	height: 30px;
}

footer .newsletter input::placeholder{
	font-size: 16px;
}

footer .newsletter button{
	background-color: #BB1C2E;
	font-size: 18px;
}

footer .newsletter button:hover{
	background-color: rgba(187, 28, 46, 0.8);
	transition: 0.3s;
}

footer .newsletter button:focus{
	box-shadow: 0 0 0 3px rgba(187, 28, 46, 0.4);
}

footer .social-networks img{
	height: 40px;
}

footer .social-networks img:hover{
	height: 38px;
	transition: 0.3s;
}

footer .social-networks h3{
	font-size: 24px;
}

/* Contact Page */

.contact-section{
	margin-top: 150px;
	margin-bottom: 100px;
}

.contact-section .contact-info{
	background-color: #3C3C3C;
}

.contact-section .contact-icon{
	width: 30px;
	height: 30px;
}

.contact-section textarea{
	resize: none;
}

.contact-section p{
	font-size: 18px;
}

.contact-section input,
.contact-section textarea{
	background-color: #F3F3F3
}

.contact-section input::placeholder,
.contact-section textarea::placeholder{
	font-size: 13px;
	color: #414141;
	opacity: 68%;
}

.contact-section button{
	background-color: #BB1C2E;
	font-size: 18px;
}

.contact-section button:hover{
	background-color: rgba(187, 28, 46, 0.8);
	transition: 0.3s;
}

.contact-section button:focus{
	box-shadow: 0 0 0 3px rgba(187, 28, 46, 0.4);
}

.contact-section .yellow-border-heading{
	border-bottom: 3px solid #ffde59; 
}

/* Partners page */

.partners-section{
	margin-top: 50px;
	margin-bottom: 50px;
}

.partners-section h1 span{
	border-bottom: 3px solid #ffde59; 
}

.partners-section .partners-text{
	margin-top: 80px;
	font-size: 18px;
}

.partners-section img{
	max-height: 300px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%); 
	vertical-align: bottom;
}

	/* Medium devices (tablets, less than 992px) */
	@media (max-width: 991.98px) {
		.partners-section img{
			max-height: 200px;
		}
	}

.partners-section img:hover{
	-webkit-filter: none;
	filter: none;
	transition: 0.5s;
	cursor: pointer;
}

.partners-section .partners-logos .col-4{
	height: 300px;
	width: auto;
}


.partners-section .partners-logos div a{
	cursor: context-menu;
}

/* About Us Page */

.about-section{
	margin-top: 50px;
	margin-bottom: 50px;
}

.about-section .yellow-border-heading{
	border-bottom: 3px solid #ffde59; 
}

.about-section p{
	font-size: 16px;
}

.about-section .transparent-logo{
	height: 200px;
}

.about-section .about-section-image{
	position: absolute; 
	z-index: -2; 
	top: 0; 
	left: 0; 
	width: 100px;
	height: 90px;
	margin-top: 35px;
	margin-left: 10px;
}

	/*Large devices (tablets, less than 992px)*/
	@media (max-width: 1199.98px) {
		.about-section .about-section-image{
			width: 100px;
			height: 90px;
			margin-top: -15px;
		}
	}

	/* Medium devices (tablets, less than 992px)*/
	@media (max-width: 991.98px) { 
		.about-section .about-section-image{
			width: 100px;
			height: 90px;
			margin-top: -20px;
			margin-left: 10px;
		} 
		h1{
			font-size: 25px;
			margin-top: 40px;
		}
		h2{
			font-size: 23px;
		}
	}

.about-page-image-container-fluid{
	height: 350px;
	background-image: url('../images/about/image-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 70%;
}

	/*Large devices (tablets, less than 992px)*/
	@media (max-width: 1199.98px) {
		.about-page-image-container-fluid{
		height: 250px;
		background-position: 50% 70%;
	}
	}

	/* Medium devices (tablets, less than 992px)*/
	@media (max-width: 991.98px) { 
		.about-page-image-container-fluid{
		height: 200px;
		background-position: 50% 70%;
	}
	}	

	/*Small devices (landscape phones, less than 768px)*/
	@media (max-width: 767.98px) { 
		.about-page-image-container-fluid{
		height: 150px;
		background-position: 50% 70%;
	}	
	}	

	/* Who are We? */

	.about-section .hub-croatia-section-image{
		position: absolute; 
		z-index: -2; 
		top: 0; 
		left: 0; 
		width: 100px;
		height: 90px;
		margin-top: 70px;
		margin-left: 10px;
	}

		/*Large devices (tablets, less than 992px)*/
		@media (max-width: 1199.98px) {
			.about-section .hub-croatia-section-image{
				width: 100px;
				height: 90px;
				margin-top: 20px;
				margin-left: 10px;
			}
		}

		/* Medium devices (tablets, less than 992px)*/
		@media (max-width: 991.98px) { 
			.about-section .hub-croatia-section-image{
				width: 80px;
				height: 90px;
				margin-top: -25px;
				margin-left: 10px;
			} 
		}	

	.hub-croatia-section-p{
		font-size: 18px;
	}		

	.hub-croatia-section-iframe{
		max-height: 450px;
	}

	.team-images{
		height: 80px;
	}

	.team p{
		font-size: 16px;
	}

	.team .team-group{
		border-bottom: 2px solid rgba(28,27,25,0.5)
	}

		/*Large devices (desktops, less than 1200px)*/
		@media (max-width: 1199.98px) {
			.team .team-group-no-border{
				border-bottom: 0px;
			}
		}	

		/* Medium devices (tablets, less than 992px)*/
		@media (max-width: 991.98px) { 
			.team p{
				font-size: 14px;
			}
		}

	/* Carousel */

	.villages-carousel .carousel-item{
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.villages-carousel .carousel-caption{
		top: 50%; 
		transform: translateY(-50%); 
		bottom: initial;
	}

		/* Black overlay over carousel image */

		.villages-carousel .carousel-item{
			position: relative;
		}

		.villages-carousel .black-overlay{
			position: absolute; 
			top: 0; 
			left: 0; 
			height: 100%; 
			width: 100%; 
			background-color: rgba(0,0,0,0.44);
		}

		/* Medium devices (tablets, less than 992px)*/
		@media (max-width: 991.98px) { 
			.villages-carousel{
				height: 500px;
			}
			.villages-carousel img{
				object-position: center;
				object-fit: cover;
			}
		}

/* Home Page */

	/* Swiper 1 */

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-container img{
  	height: 340px; 
  	width: 290px; 
  	object-fit: cover; 
  	object-position: center;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-button-next{
  	color: #3C3C3C !important;
  	font-size: 5px !important;
  }

  /* Card */

  .card{
  	width: 18rem
  }

  .card a{
  	background-color: #3C3C3C;
  	font-size: 18px;
  }

  .card a:hover{
  	background-color: rgba(60, 60, 60, 0.7);
  	transition: 0.3s;
  }

  .about-section form input,
  .about-section form textarea{
  	border: 1px solid rgba(65, 65, 65, 0.5);
  	padding-top: 20px;
  	padding-bottom: 20px;
  }

  .about-section input::placeholder,
	.about-section textarea::placeholder{
		font-size: 13px;
		color: #414141;
		opacity: 68%;
		margin-top: 13px;
	}

	.about-section textarea{
		resize: none;
	}

	.about-section button{
		background-color: #BB1C2E;
	}

/* Activities Page */

.activities-section h4{
	color: #1C1B19 !important;
}

.activities-section p{
	font-size: 18px;
}

.activities-section .activity-icon{
	height: 150px !important;
}

.activities-section .meetings-img{
	height: 500px;
	width: 500px !important;
}

/* Blog Page */

.blog-section .card-body{
	background-color: #FFDE59;
}

.blog-section .card-body p{
	font-size: 16px;
}

.blog-section .bloggers img{
	height: 190px;
}

	/* Carousel */

	.carousel nav img{
		height: 18px;
	}

	.carousel nav .page-link{
		border: 1px solid #414141;
		font-weight: bold;
		color: #414141;
		padding: 10px 12px;
	}

	.carousel nav .page-link:hover{
		cursor: pointer;
		background-color: rgba(255, 222, 89, 0.5);
		transition: 0.3s;
	}

	.carousel nav .active{
		background-color: #FFDE59 !important;
	}

	.carousel .card .no-gutters .col-sm-4{
		height: 280px; 
		width: auto;
	}

	.carousel .card .no-gutters img{
		object-fit: cover; 
		height: 100%; 
		width: 100%; 
		object-position: center;
	}

