/*** Default CSS ***/

body {
	font-family: Poppins;
	background-color: #ffffff;
}

/*input:focus{
	box-shadow: 0 0 0 3px rgba(187, 28, 46, 0.4) !important;
}*/

input:focus{
	box-shadow: none !important;
	outline: none;
}

::selection{
	background-color: #bb1c2e;
	color: white;
}

/*** Navbar ***/

	/*** Topbar ***/

	header .topbar-navbar {
		background-image: url('../images/components/header-background.svg');
		background-size: contain;
		background-color: #414141;
	}

	.topbar-icons{
		height: 20px;
		width: auto;
	}

	.topbar-navbar form input::placeholder {
		font-size: 14px;
		color: #1C1B19;
	}

	.topbar-navbar form img{
		height: 14px;
	}

	nav{
		box-shadow: 0px 1px 7px 0px rgba(112, 112, 112, 0.5);
	}

	nav .nav-link{
		font-weight: bold;
		text-transform: uppercase;
		color: #1C1B19 !important;
		font-size: 16px;
		border: 2px solid transparent;
	}

	nav .nav-link:hover{
		border-bottom: 2px solid rgba(187, 28, 46, 0.4);
		transition: 0.3s;
	}

	nav .active span{
		border-bottom: 2px solid #BB1C2E;
	}

	nav .navbar-brand{
		background-image: url('../images/components/EoF-Croatia-logo.svg'); 
		background-size: cover; 
		height: 220px;
		width: 220px; 
		border-radius: 50%;  
		border: 15px solid white; 
		margin-bottom: -120px
	}


	/* Medium devices (tablets, less than 992px) */
	@media (max-width: 991.98px) {
		nav .navbar-brand {
			height: 170px;
			width: 170px;
			border: 10px solid white;
			margin-bottom: -80px;
		}
	}