/*** Default CSS ***/

body {
	font-family: Poppins;
	background-color: #ffffff; 
}

input:focus,
textarea:focus{
	box-shadow: 0 0 0 3px rgba(187, 28, 46, 0.3) !important;
	border: 0.1px solid rgba(187, 28, 46, 0.5) !important;
}

header input:focus{
	box-shadow: none !important;
	outline: none !important;
	border: transparent !important;
}

::selection{
	background-color: #bb1c2e;
	color: white;
}

.yellow-border-heading{
	border-bottom: 3px solid #ffde59; 
	line-height: 1.6;
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}

/*** Header ***/

	/*** Topbar ***/

	header .topbar-navbar {
		background-image: url('../images/header/background.svg');
		background-size: contain;
		background-color: #414141;
		font-weight: 200;
	}

	.topbar-icons{
		height: 20px;
		width: auto;
	}

	.topbar-navbar form input::placeholder {
		font-size: 14px;
		color: #1C1B19;
		font-weight: 200;
	}

	.topbar-navbar form img,
	.navbar form img{
		height: 14px;
	}

	nav{
		box-shadow: 0px 1px 7px 0px rgba(112, 112, 112, 0.5);
		position: relative; 
		z-index: 2;
	}

	nav .nav-link{
		font-weight: 700;
		text-transform: uppercase;
		color: #1C1B19 !important;
		font-size: 16px;
	}

	nav .nav-link span{
		border: 2px solid transparent;
	}

	nav .nav-link span:hover{
		border-bottom: 2px solid rgba(187, 28, 46, 0.4);
		transition: 0.3s;
	}

	nav .dropdown-item:focus{
		background-color: rgba(187, 28, 46, 1);
	}

	nav .active span{
		border-bottom: 2px solid #BB1C2E;
	}

	nav .navbar-brand{  
		border-radius: 50%; 
		padding: 5px;  
		margin-bottom: -60px;
	}

	nav .navbar-brand img{
		height: 160px;
		width: 160px; 
		padding: 0px 5px;
	}


	/* Medium devices (tablets, less than 992px) */
	@media (max-width: 991.98px) {
		nav .navbar-brand {
			height: 120px;
			width: 120px;
			border: 4px solid white;
			margin-bottom: -40px;
		}
		.mobile-margin {
		margin-top: 96px;
	}
	}

/* Footer */

footer {
	background-color: #3C3C3C;
}

footer h4{
	font-weight: 500;
}

footer a{
	font-weight: 200 !important;
}

footer .footer-top{
	padding-top: 100px !important;
	padding-bottom: 130px;
}

footer .footer-logo{
	height: 160px;
}

/* Medium devices (tablets, less than 992px) */
	@media (max-width: 991.98px) {
		footer .footer-logo{
			height: 120px;
		}
		footer h4{
			font-size: 20px
		}
		footer a{
			font-size: 15px !important;
		}
	}


footer .footer-icon{
	width: 30px;
	height: 30px;
}

footer .newsletter input::placeholder{
	font-size: 16px;
}

footer .newsletter button{
	background-color: #BB1C2E;
	font-size: 18px;
}

footer .newsletter button:hover{
	background-color: rgba(187, 28, 46, 0.8);
	transition: 0.3s;
}

footer .newsletter button:focus{
	box-shadow: 0 0 0 3px rgba(187, 28, 46, 0.4);
}

footer .social-networks img{
	height: 40px;
}

footer .social-networks img:hover{
	height: 38px;
	transition: 0.3s;
}

footer .social-networks h3{
	font-size: 24px;
}

/* Fixed footer */

.fixed-footer{
	position: fixed; 
	width: 100%; 
	bottom: 0; 
	z-index: 20; 
	overflow: hidden;
}

/* Contact Page */

.contact-section{
	margin-top: 100px;
	margin-bottom: 100px;
}

.contact-section .contact-info{
	background-color: #3C3C3C;
}

/* Medium devices (tablets, less than 992px) */
	@media (max-width: 991.98px) {
		.contact-info h6{
			font-size: 12px
		}
	}

.contact-section .contact-icon{
	width: 30px;
	height: 30px;
}

.contact-section textarea{
	resize: none;
}

.contact-section p{
	font-size: 18px;
}

.contact-section input,
.contact-section textarea{
	background-color: #F3F3F3
}

.contact-section input::placeholder,
.contact-section textarea::placeholder{
	font-size: 13px;
	color: #414141;
	opacity: 68%;
}

.contact-section button{
	background-color: #BB1C2E;
	font-size: 18px;
}

.contact-section button:hover{
	background-color: rgba(187, 28, 46, 0.8);
	transition: 0.3s;
}

.contact-section button:focus{
	box-shadow: 0 0 0 3px rgba(187, 28, 46, 0.4);
}

.contact-section .yellow-border-heading{
	border-bottom: 3px solid #ffde59; 
	line-height: 1.6;
}

/* Partners page */

.partners-section{
	margin-top: 50px;
	margin-bottom: 50px;
}

.partners-section h1 span{
	border-bottom: 3px solid #ffde59; 
}

.partners-section .partners-text{
	margin-top: 80px;
	font-size: 18px;
}

.partners-section img{
	max-height: 300px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%); 
	vertical-align: bottom;
}

	/* Medium devices (tablets, less than 992px) */
	@media (max-width: 991.98px) {
		.partners-section img{
			max-height: 200px;
		}
	}

.partners-section img:hover{
	-webkit-filter: none;
	filter: none;
	transition: 0.5s;
	cursor: pointer;
}

.partners-section .partners-logos .col-4{
	height: 300px;
	width: auto;
}


.partners-section .partners-logos div a{
	cursor: context-menu;
}

/* About Us Page */

.about-section{
	margin-top: 50px;
	margin-bottom: 50px;
}

.about-section .yellow-border-heading{
	border-bottom: 3px solid #ffde59; 
	line-height: 1.6,
}

.about-section p{
	font-size: 16px;
}

.about-section .yellow-heading{
	color: #FFDE59;
	font-weight: bold;
}

.about-section .about-section-image{
	position: absolute; 
	z-index: -2; 
	top: 0; 
	left: 0; 
	width: 100px;
	height: 90px;
	margin-top: 35px;
	margin-left: 10px;
}

	/*Large devices (tablets, less than 992px)*/
	@media (max-width: 1199.98px) {
		.about-section .about-section-image{
			width: 100px;
			height: 90px;
			margin-top: -15px;
		}
	}

	/* Medium devices (tablets, less than 992px)*/
	@media (max-width: 991.98px) { 
		.about-section .about-section-image{
			width: 100px;
			height: 90px;
			margin-top: -20px;
			margin-left: 10px;
		} 
		h1{
			font-size: 25px;
			margin-top: 40px;
		}
		h2{
			font-size: 23px;
		}
	}


.about-section textarea{
	resize: none;
}

.about-section button{
	background-color: #BB1C2E;
}

.about-section button:hover{
	background-color: rgba(187, 28, 46, 0.8) !important;
	transition: 0.3s;
}

.about-section button:focus{
	box-shadow: 0 0 0 3px rgba(187, 28, 46, 0.4);
}

	/* Who are We? */

	.about-section .hub-croatia-section-image{
		position: absolute; 
		z-index: -2; 
		top: 0; 
		left: 0; 
		width: 100px;
		height: 90px;
		margin-top: 70px;
		margin-left: 10px;
	}

		/*Large devices (tablets, less than 992px)*/
		@media (max-width: 1199.98px) {
			.about-section .hub-croatia-section-image{
				width: 100px;
				height: 90px;
				margin-top: 20px;
				margin-left: 10px;
			}
		}

		/* Medium devices (tablets, less than 992px)*/
		@media (max-width: 991.98px) { 
			.about-section .hub-croatia-section-image{
				width: 80px;
				height: 90px;
				margin-top: -25px;
				margin-left: 10px;
			} 
		}	

	.hub-croatia-section-p{
		font-size: 18px;
	}		

	.hub-croatia-section-iframe{
		max-height: 450px;
	}

	.team-images{
		height: 80px;
	}

	.team p{
		font-size: 16px;
	}

	.team .team-group{
		border-bottom: 2px solid rgba(28,27,25,0.5)
	}

		/*Large devices (desktops, less than 1200px)*/
		@media (max-width: 1199.98px) {
			.team .team-group-no-border{
				border-bottom: 0px;
			}
		}	

		/* Medium devices (tablets, less than 992px)*/
		@media (max-width: 991.98px) { 
			.team p{
				font-size: 14px;
			}
		}	

/* Home Page */

	/*Large devices (desktops, less than 1200px)*/
		@media (min-width: 1200px) {
			#sliderSection img{
				height: calc(100vh - 167px);
			}
		}	
	
	/* Swiper 1 */

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-container img{
  	height: 340px; 
  	width: 290px; 
  	object-fit: cover; 
  	object-position: center;
  }

  .swiper-slide {
    text-align: center;
    font-size: 16px; 
    background-color: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-button-next{
  	color: #3C3C3C !important; 
  }

  /* Card */

  .card{
  	width: 18rem;
  	background-color: transparent;
  }

  .card a{
  	background-color: #3C3C3C;
  	font-size: 18px;
  }

  .card a:hover{
  	background-color: #BB1C2E;
  	transition: 0.3s;
  }

  .about-section form input,
  .about-section form textarea{
  	border: 1px solid rgba(65, 65, 65, 0.5);
  	padding-top: 20px;
  	padding-bottom: 20px;
  }

  .about-section input::placeholder,
	.about-section textarea::placeholder{
		font-size: 13px;
		color: #414141;
		opacity: 68%;
		margin-top: 13px;
	}

	/* Calendar */

	.yellow-border-month{
		border-top: 3px solid #FFDE59;
		border-bottom: 3px solid #FFDE59;
	}

	.fc .fc-event{ 
		border-radius: 0;
		border-color: transparent; 
	}

	.fc .fc-event:hover{ 
		cursor: pointer !important;
	}

	.fc-day-today {
		background-color: transparent !important;
	}

	.fc-col-header-cell.fc-day-sun,
	.fc-col-header-cell.fc-day-sat{
		background-color: #FFDE59 !important; 
		color: black;
	}

	.fc-col-header{
		background-color: #3c3c3c;
		color: white;
		margin-bottom: 10px;
	}

	.fc-col-header-cell-cushion{
		font-weight: normal;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}

	.fc-day-other{
		background-color: #ABADAC !important;
		color: white !important; 
	}

	.fc-day-sun .fc-daygrid-day-number{
		color: #FFDE59 !important;
	}

	/* Modal */

	.modal h4{
		font-weight: 200 !important;
	}

/* Activities Page */

.activities-section h4{
	color: #1C1B19 !important;
}

.activities-section p{
	font-size: 18px;
}

.activities-section .activity-icon{
	height: 100px !important;
}

.activities-section .meetings-img{
	height: 500px;
	width: 500px !important;
}

.activities p{
	font-size: 16px;
}

/* Blog Page */

.blog-section .card-body{
	background-color: #FFDE59;
}

.blog-section .card-body p{
	font-size: 16px;
}

.blog-section .bloggers img{
	height: 190px;
}

	/* Carousel */

	.carousel nav img{
		height: 18px;
	}

	.carousel nav{
		position: static; 
	}

	.carousel nav .page-link{
		/*border: 1px solid #414141;
		font-weight: bold;*/
		color: #414141;
		/*padding: 10px 12px;*/
	}

	.carousel nav .page-link:hover{
		cursor: pointer;
		background-color: rgba(255, 222, 89, 0.5);
		transition: 0.3s;
	}

	.carousel nav .active{
		background-color: #FFDE59 !important;
	}

	.carousel .card .no-gutters .col-sm-4{
		height: 280px; 
		width: auto;
	}

	.carousel .card .no-gutters img{
		object-fit: cover; 
		height: 100%; 
		width: 100%; 
		object-position: center;
	}

	/* Single blog  */

	.blog-post-section img{
		padding: 0px 15px;
	}

	.blog-post_section{
		font-family: Poppins !important;
	}

/* Projects Page */

.projects-section .swiper-slide .card .projects-card-icon {
	height: 20px !important;
	width: auto;
	object-fit: contain;
}

.projects-section .card p{
	font-size: 12px;
	font-weight: 200
}

.project-card-box{
	border: 1px solid #BB1C2E !important;
}

.project-card-box .money-amount{
	background-color: #F1f1f1;
}

.project-card-box .progress-bar{
	background-color: #BB1C2E;
}

.project-card-box .button{
	background-color: #BB1C2E;
	font-size: 12px;
}

.project-card-box .button:focus{
	box-shadow: 0 0 0 3px rgba(187, 28, 46, 0.4);
}

.project-card-box .button:hover{
	background-color: transparent;
	color: #BB1C2E !important;
	border: 1px solid #BB1C2E; 
	transition: 0.3s;
}

	/* Projects slider pagination bullets */

		.projects-section .swiper-wrapper{
			padding-bottom: 80px !important;
		}

	  .swiper-pagination-bullet {
	    width: 40px !important;
	    height: 40px !important;  
	    border-radius: 0 !important;
	    text-align: center center;
	    line-height: 40px;
	    font-size: 12px;
	    color: #3c3c3c !important;
	    font-weight: bold;
	    opacity: 1 !important;
	    background: rgba(0, 0, 0, 0.2) !important;
	  }

	  .swiper-pagination-bullet-active {
	    color: #3c3c3c !important;
	    background: #ffde59 !important;
	  }

	  .swiper-pagination-bullet:hover{
	  	background: rgba(255, 222, 89, 0.6) !important;
	  	transition: 0.3s;
	  }

  /* Gallery */
  .gallery img{
  	object-fit: cover;
  	object-position: center;
  	height: 180px;
  	width: 100%;
  }

/* Support Page */

.support-section .bank-donate .qr-code{
	height: auto;
	width: auto;
}

.support-section .card-donate,
.support-section .bank-donate{
	background-color: #f3f3f3
}

.support-section .card-donate img,
.support-section .bank-donate img{
	height: 100px;
}

	/* Medium devices (tablets, less than 992px) */
	@media (max-width: 991.98px) {
		.support-section .card-donate img,
		.support-section .bank-donate img{
			height: 60px;
		}
		.support-section .card-donate h3,
		.support-section .bank-donate h3{
			font-size: 20px;
		}
	}

	/* Extra small devices (portrait phones, less than 576px) */
	@media (max-width: 575.98px) {
		.support-section .card-donate img,
		.support-section .bank-donate img{
			height: 30px;
		}
		.support-section .card-donate h3,
		.support-section .bank-donate h3{
			font-size: 18px;
		}
	}

.support-section .card-donate a,
.support-section .card-donate button{
	padding: 15px 50px;
	width: 150px;
	font-size: 16px;
	background-color: white;
	font-weight: bold;
	border: 1px solid #707070;
	color: #1C1B19;
}

.support-section .card-donate a:hover,
.support-section .card-donate button:hover{
	background-color: rgba(243, 243, 243, 0.8); 
	transition: 0.3s;
}

.support-section .card-donate a:focus,
.support-section .card-donate button:focus,
.support-section .card-donate input:focus{
	box-shadow: 0 0 0 3px rgba(187, 28, 46, 0.4);
	border: 1px solid rgba(187, 28, 46, 0.4) !important;
}

.support-section .card-donate input{
	padding: 15px;
	width: 150px;
	font-size: 16px;
	background-color: white;
	border: 1px solid #707070 !important;
	color: #1C1B19 !important;
	font-weight: bold;
}

.support-section .card-donate input::placeholder{
	font-weight: 200;
	text-align: center;
}

.support-section .donate-button{
	background-color: #BB1C2E !important;
	color: white !important;
	font-size: 18px !important;
	font-weight: 500 !important;
}

.support-section .donate-button:hover{
	background-color: rgba(187, 28, 46, 0.8) !important;
	transition: 0.3s;
}

	/* Slider */
	.support-section .support-page-partners-slider img{
		object-fit: contain;
	}
